#latest-restaurants {
	height: 85%;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow-x: hidden;
	overflow-y: auto;
}

#latest-restaurant-container { height: 100%; width: 100%; }

.restaurants-3 {
	height: 80%;
	padding: 0;
	margin: 30px;
	transition: all 0.25s ease;
}

.restaurants-3:hover { box-shadow: 0 15px 30px rgba(0,0,0,0.3); }

.restaurants-3-image { 
	height: 30%;
	width: 100%;
	overflow: hidden;
}

.restaurants-3-image:before {
	position: absolute;
	color: #000000;
	font-size: 22px;
	background-color: rgba(240, 248, 255, 0.65);
	padding: 0 5px;
	margin: 0;
}

/*Adds the stars for rating*/
.star-0:before { content: "☆ ☆ ☆ ☆"; }
.star-1:before { content: "\2605 ☆ ☆ ☆"; }
.star-2:before { content: "\2605 \2605 ☆ ☆"; }
.star-3:before { content: "\2605 \2605 \2605 ☆"; }
.star-4:before { content: "\2605 \2605 \2605 \2605"; }

.rest-data { text-align: center; height: 70%; }
.rest-data h3 { margin: 0 0 10px 0; }

.description {
	height: 65%;
	text-align: center;
	background: #f5f5f5;
	padding: 25px 20px;
	position: relative;
	border: 1px solid #ddd;
	/*min-height: 188px;*/
}

.description:before {
	content: "";
	border: 1px dashed #000;
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 5px;
	left: 5px;
	opacity: 0.15;
}

.description:after {
	content: "";
	border: 1px dashed #fff;
	position: absolute;
	top: 6px;
	bottom: 4px;
	right: 4px;
	left: 6px;
}

.map-embed {
	height: 35%;
	width: 100%;
	background-color: #f5f5f5;
}

.contact, .address { width: 100%; text-align: center; }
.contact p, .address p { margin-bottom: 5px; }
.contact p:first-child { margin-bottom: 10px; }
#restaurants { height: 70%; }

@media (min-width: 992px) {
	#latest-restaurants {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	#latest-restaurant-container { display: flex; justify-content: center; }
}